<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- 
     Down below I have added a code to use a partial
     here we have mentioned only the name of the partial 
     content will be fetched by it owon its own    
    -->
    <div class="main-content">
    {{>header}}
    <p>{{helpcontent}}</p>
    </div>
    {{>footer}}
</body>
</html>